@CHARSET "UTF-8";

#tag_list{
	height: 20px;	
}	
.tags {
	float: left;
	margin-right: 2px;
	margin-bottom: 7px;
	margin-top:1px;
	height: 22px;
	border-radius: 4px;
	border: 1px solid #cccccc;
	font: normal 14px/20px 'Sanchez';
	background: #ebeaea;
	background: -o-linear-gradient(top, #C4CDE0, #C4CDE0);
	background: -webkit-linear-gradient(top, #C4CDE0, #C4CDE0);
	background: -moz-linear-gradient(top, #C4CDE0, #C4CDE0);
	background: -ms-linear-gradient(top, #C4CDE0, #C4CDE0);
	background: linear-gradient(top, #C4CDE0, #C4CDE0);
 	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#C4CDE0", endColorStr="#C4CDE0");
	border-color: #cccccc;
	cursor: pointer;
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.3);
	padding-left: 6px;
	padding-right: 28px;
	position: relative;
}

.tags .delete {
	display: block;
	width: 20px;
	height: inherit;
	float: right;
	background: rgba(255, 255, 255, 0.5) url('../img/delete_tag.png') center no-repeat;
	margin-left: 6px;
	border-left: 1px solid #ccc;
	position: absolute;
	top: 0;
	right: 0;
}

.text_tag input:active {
	border:0;
}

.text_tag input {
	width: 200px;
	height : 10px;
	overflow: hidden;
}